<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <script>
            $(document).ready(function () {
                $("div.main-logo").load("/assets/images/logo.svg");
            });
        </script>
    </head>
    <body>
        <header class="web-header">
            <div>
                {% include navigation.html %}
            </div>
        </header>
        <div class="header-spacer"></div>
        <div>
            <div class="web-body">
                <div>
                    {{ content }}
                </div>
            </div>
            <footer class="web-footer">
                {% include footer.html %}
            </footer>
        </div>
    </body>
</html>