{% assign url = page.url | split: "/" %}
<nav {% if url[2] == nil %} class="wedding-home" {% endif %}>
    {% for item in site.data.wedding-navigation %}
    <div class="indicator-bar">
        {% assign sub = item.link | remove: "/wedding/" %}
        {% assign sub = sub | remove: "/" %}
        <a href="{{ item.link }}">{{ item.name }}</a>
        <div {% if url[2]==sub %}class="current" {% endif %}{% if url[2] == nil and sub=="" %} class="current" {% endif %}></div>
    </div>
    {% endfor %}
</nav>
{% if url[2] == nil %} 
<div class="home-header-background"></div> 
{% endif %}
